.advantages {
  min-width: 320px;
  min-height: 690px;
  background-color: @color-dim;
}

.advantages__intro {
  padding-top: 46px;
  // margin: 46px;
  min-width: 320px;
  min-height: 250px;
  background-color: @color-light;
}

.advantages__intro-par {
  margin: auto;
  width: 280px;
  min-height: 134px;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
}

.advantages__wrapper {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 23px auto 0;
  position: relative;
}

.advantages__main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 280px;
  height: 14px;
  font-size: 18px;
  // margin-bottom: 24px;
  // line-height: 24px;
  font-weight: 700;
  color: @color-dark;
}

.advantages__main-description {
  margin: 24px auto;
  display: flex;
  align-items: center;
  text-align: center;
  min-width: 280px;
  min-height: 58px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: @color-dark;
}

.advantages__phone-image {
  margin: 48px auto;
}

.advantages__screen-image {
  width: 136px;
  height: 245px;
  position: absolute;
  top: 480px;
  left: 72px;
}
