.advantages {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: @color-dim;
  position: relative;
}

.advantages__intro {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 46px;
  width: 100%;
  background-color: @color-light;
}

.advantages__intro-par {
  margin: auto;
  width: 280px;
  min-height: 134px;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;

  @media (min-width: @tablet-width) {
    width: 590px;
    font-size: 40px;
    line-height: 55px;
    font-weight: 300;
  }
}

.advantages__wrapper {
  display: flex;
  flex-direction: column;
  width: 280px;
  position: relative;
  padding-top: 53px;

  @media (min-width: @tablet-width) {
    height: 500px;
    // min-width: 300px;
    // flex-direction: row;
    flex-wrap: wrap-reverse;
    align-content: flex-start;
  }
}

.advantages__main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 280px;
  height: 14px;
  font-size: 18px;
  font-weight: 700;
  color: @color-dark;
}

.advantages__main-description {
  margin: 24px auto;
  display: flex;
  align-items: center;
  text-align: center;
  min-width: 280px;
  min-height: 58px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: @color-dark;
}

.advantages__phone-image {
  margin: 48px auto;

  @media (min-width: @tablet-width) {
    // flex-wrap: wrap;
    // flex-basis: 100%;
  }
}

.advantages__screen-image {
  width: 136px;
  height: 245px;
  position: absolute;
  top: 540px;
  left: 72px;

  @media (min-width: @tablet-width) {
    top: 140px;
    left: -145px;
  }
}
