.button {
  display: block;
  border: 0;
  font: inherit;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.button--form {
  color: @color-light;
  width: 280px;
  padding: 17px 15px;
  text-transform: uppercase;
  align-items: center;
  background-color: @color-dim;
  border: 2px solid @color-dim;
  border-radius: 1px;
}

.button--rounded {
  padding: 15px;
  border-width: 3px;
  border-style: solid;
  border-radius: 30px;
  line-height: 18px;
  background-color: transparent;
}

.button--red {
  border-color: @color-form-headers;
  color: @color-form-headers;
}

.button--gray {
  border-color: rgba(40, 54, 69, 0.1);
  color: #dddfe0;
}
