.contacts {
  width: 100%;
  // height: 395px;
}

.contacts__list {
  .drop-list-style;
  // display: flex;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    // align-content: start;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: auto;
  }

  @media (min-width: @desktop-width) {
    flex-wrap: nowrap;
  }
}

.contacts__head {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  width: 250px;
  margin: auto;

  @media (min-width: @tablet-width) {
    font-size: 40px;
    line-height: 55px;
    font-weight: 300;
    width: 370px;
  }
}

.contacts__list-item {
  @media (min-width: @tablet-width) {
    margin: 51px 55px 55px 55px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
  }
}

.contacts__list-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.contacts__list-description {
  color: @color-form-headers;
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 24px;
  line-height: 33px;
  font-weight: 300;

  // @media (min-width: @tablet-width) {
  //   width: 260px;
  // }

  @media (min-width: @desktop-width) {
    padding: 34px;
    width: 260px;
  }
}
