.footer-social {
  margin-top: 68px;
  max-width: 620px;
  // width: 100%;
  // height: 284px;

  @media (min-width: @tablet-width) {
    padding: 0 50px 0;
    margin: auto;
  }
}

.footer-social__wrap {
  @media (min-width: @tablet-width) {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  @media (min-width: @desktop-width) {
    justify-content: space-around;
    // max-width: 620px;
  }
}

.footer-social__logo-glasses {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 12px;
}

.footer-social__list {
  .drop-list-style;
  margin-top: 38px;
  display: flex;
  gap: 5px;
  justify-content: center;
}

.footer-social__copyright {
  margin-top: 38px;
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
}
