.form-send__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.form-send__comment {
  margin: auto;
  border: none;
  width: 280px;
}

.form-send__textarea {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  width: 276px;
  height: 197px;
  // margin: 22px 22px 52px;
  padding: 22px 0 0 20px;
}

.form-send__main-description {
  width: 280px;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 54px auto 55px;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
}

.form-send__label {
  color: @color-form-headers;
  align-items: center;
  text-align: center;
  margin-left: 43px;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
}

.form-send__input {
  margin: 17px 22px 29px;
  width: 276px;
  height: 59px;
  border-color: @color-dim2;
  padding-left: 20px;
}

.form-send__checkboxes {
  border: none;
  width: 280px;
  background-color: @color-dim;
  margin: auto;
}

.form-send__contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: none;
  // width: 280px;
}

.form-send__platform {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: none;
  background-color: @color-dim;
}

.form-send__radio-list {
  list-style: none;
}

.form-send__user {
  border: none;
}

.form-send__description {
  color: @color-form-headers;
  width: 218px;
  align-items: center;
  text-align: center;
  margin: 42px auto;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.form-send__checkbox-label {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
}

.form-send__ul {
  .drop-list-style;
  margin-left: 22px;
  margin-bottom: 42px;
}

.form-send__li {
  margin-bottom: 48px;
}

.form-send__radio {
  margin-bottom: 38px;
}

.form-send__button {
  color: @color-light;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  display: block;
  margin: 52px auto 46px;
  background-color: @color-button-send;
  border: none;
  border-radius: 4px;
  width: 276px;
  height: 59px;
}
