.main-container {
  margin-top: 270px;
}

.advantages {
  width: 320px;
  height: 690px;
}

.advantages__intro {
  margin: 0 auto;
  width: 280px;
  height: 134px;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
}

.advantages__wrapper {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 23px auto 0;
  position: relative;
}

.advantages__main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: 14px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: @color-dark;
}

.advantages__main-description {
  margin: 24px auto;
  display: flex;
  align-items: center;
  text-align: center;
  width: 280px;
  height: 14px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: @color-dark;
}

.advantages__phone-image {
  margin: 48px auto;
}

.advantages__screen-image {
  width: 136px;
  height: 245px;
  position: absolute;
  top: 314px;
  left: 72px;
}

.review {
  width: 320px;
  min-height: 364px;
  position: relative;
  z-index: 10;
}

.review__main-slider {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background-color: @color-light;
}

.review__description {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
}

.review__author {
  width: 158px;
  height: 13px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-style: normal;
}

.review__author-description {
  width: 280px;
  min-height: 160px;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
}

.pink-store {
  background-color: @color-dim;
}

.pink-store__card-head {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: @color-dark;
  color: @color-light;
  width: 276px;
  height: 94px;
}

.pink-store__card-filter {
  width: 276px;
  height: 59px;
}

.contacts {
  width: 320px;
  height: 395px;
}

.contacts-list {
  .drop-list-style;
}

.contacts__head {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
}

.contacts-list__title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.contacts-list__description {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 24px;
  line-height: 33px;
  font-weight: 300;
}

.map {
  position: relative;
  width: 320px;
  height: 200px;
}

.map-marker {
  position: absolute;
  top: 95px;
  left: 142px;
}
