.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: @color-dark-nav;
  height: 66px;
  position: relative;
  padding: 20px;

  @media (min-width: @tablet-width) {
    height: 107px;
  }
}

.main-nav-close {
  background-color: @color-dark;
  border-bottom: 1px solid rgb(0, 0, 0);

  @media (min-width: @desktop-width) {
    background-color: @color-dark-nav;
    border: none;
  }
}

.main-nav__wrapper {
  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    align-items: center;
    margin: auto;
  }
}

.main-nav__list {
  position: absolute;
  z-index: 2;
  width: 100%;
  top: 67px;
  right: 0;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: @color-dark;
  .drop-list-style;

  @media (min-width: @tablet-width) {
    top: 107px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    // width: 900px;
    // align-items: center;
    // justify-content: space-around;
    // top: 20px;
    // left: 200px;
    background: none;
    // height: 70px;
    // margin: auto;

    position: relative;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    min-height: 70px;
    flex-direction: row;
    gap: 60px;
  }
}

.main-nav__link {
  color: @color-light;
  display: block;
  font-weight: 700;
  font-size: 18px;
  line-height: 11px;
  text-align: center;
  align-items: center;
  text-transform: uppercase;
  text-decoration: none;
  padding-top: 25px;
  padding-bottom: 25px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset;
  border-bottom: 1px solid #000000;

  @media (min-width: @desktop-width) {
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    text-transform: none;
    box-shadow: none;
    border: none;
    width: 131px;
  }
}

// -------menu---btn----------

.main-nav__toggle-wrapper {
  // margin-left: 156px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.main-nav__toggle {
  width: 50px;
  height: 24px;
}

.main-nav__toggle-span,
.main-nav__toggle-span::before,
.main-nav__toggle-span::after {
  position: absolute;
  top: 50%;
  margin-top: -2px;
  width: 50px;
  height: 4px;
  background-color: @color-light;
  border-radius: 1px;
}

.main-nav__toggle-span::before,
.main-nav__toggle-span::after {
  content: "";
}

.main-nav__toggle-span::before {
  transform: translateY(-10px);
  border-radius: 1px;
}

.main-nav__toggle-span::after {
  transform: translateY(10px);
  border-radius: 1px;
}

// \---------end-menu-btn----------/
