.main-header {
  width: 100%;
  // background-image: url("/img/img-back/back-mobile.jpg");
  background-size: cover;
  // background-position: 0 0;
  // background-color: @color-dark;
  background-color: @color-dark-background;
  // background-repeat: no-repeat;
  // position: relative;

  @media (min-width: @tablet-width) {
    background-image: url("/img/img-back/back-tablet.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 662px;
  }

  @media (min-width: @desktop-width) {
    // position: relative;
    background-image: url("/img/img-back/back-desktop.jpg");
    background-position: center;
    background-size: 100%;
    min-height: 853px;
    background-repeat: no-repeat;
    width: 100%;
  }
}

.main-header__catalog {
  background-image: url("/img/img-back/back-mobile.jpg");
  background-size: cover;
  height: 237px;
  color: @color-dark;

  @media (min-width: @tablet-width) {
    height: 440px;
  }

  @media (min-width: @desktop-width) {
    height: 394px;
  }
}

.main-header__phone-tablet {

  @media (min-width: @tablet-width) {
    position: absolute;
    // bottom: 0;
    // width: 660px;
    // height: 545px;
    background-image: url("/img/img-back/phone-tablet.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.main-header__nav {
  background-image: url("/img/img-back/back-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;

  @media (min-width: @tablet-width) {
    background-image: none;
  }
}

.main-header__screen-phone {
  // position: absolute;
  bottom: 0;
  left: 0;
  width: 260px;
  height: 286px;
  background-image: url("/img/img-back/phone.png");
  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    position: absolute;
    bottom: 0;
    width: 660px;
    height: 545px;
    background-image: url("/img/img-back/phone-tablet.png");
    background-repeat: no-repeat;
  }

  // @media (min-width: @tablet-width) {
  //   background-image: none;
  // }

  // @media (min-width: @desktop-width) {
  //   left: 80%;
  //   background-image: url("/img/img-back/phone.png");
  // }
}

.main-header__screen-phone::after {
  content: "";
  position: absolute;
  left: 104px;
  top: 185px;
  width: 111px;
  height: 197px;
  background-image: url("/img/img-back/screen-phone-1.png");
  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    // background-image: none;
    background-image: url("/img/img-back/screen-tablet.png");
    background-repeat: no-repeat;
    width: 195px;
    height: 346px;
    left: 371px;
    top: 54px;
  }

  // @media (min-width: @desktop-width) {

  // }
}

.main-title {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  color: @color-dark;
}

.main-header__background-phone {
  width: 100%;
  height: 286px;
  position: absolute;
  bottom: 0;
}

.main-header__tagline {
  margin: 29px auto 0;
  width: 280px;
  text-align: center;
  color: @color-light;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;

  @media (min-width: @tablet-width) {
    // margin: 100px 0 0 50px;
    margin: 81px auto;
    font-weight: 300;
    font-size: 50px;
    line-height: 68px;
    width: 356px;
  }
}

.main-header__offer {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 36px auto;
  color: @color-light;
  font-size: 24px;
  line-height: 33px;
  font-weight: 300;
  width: 228px;

  @media (min-width: @tablet-width) {
    font-size: 50px;
    line-height: 68px;
    font-weight: 300;
    width: 600px;
    margin-top: 71px;
  }
}
