.map {
  display: flex;
  align-items: center;
  justify-content: center;
}

.map__image {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.map__marker {
  position: absolute;
  top: 95px;
  left: 312px;
}
