.price {
  padding-top: 93px;
  padding-bottom: 32px;
  height: 481px;
  background-color: @color-dim;
  position: relative;

  @media (min-width: @tablet-width) {
    padding-top: 87px;
    padding-bottom: 69px;
    height: 387px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 150px;
    padding-bottom: 94px;
    height: 534px;
    background-size: 100% 80px;
  }
}

.price::before {
  content: "";
  height: 18px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  clip-path: polygon(0 100%, 0 0, 100% 0);
  background-color: @color-light;

  @media (min-width: @tablet-width) {
    height: 41px;
  }

  @media (min-width: @desktop-width) {
    height: 100px;
  }
}

.price__container {
  margin: 0 auto;
  max-width: 320px;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: @tablet-width) {
    max-width: 660px;
  }

  @media (min-width: @desktop-width) {
    max-width: 980px;
  }
}

.price__slider {
  padding-top: 9px;
  overflow: hidden;
  line-height: 30px;
  text-transform: uppercase;
}

.price__table {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  transition: left 0.4s linear;

  @media (min-width: @tablet-width) {
    position: static;
    left: auto;
    transform: none;
  }
}

.price__toggles {
  text-align: center;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.price__slider-toggles {
  padding-top: 28px;
  padding-left: 4px;
}

.price__toggles-toggle {
  box-sizing: content-box;
  margin-left: 4px;
  margin-right: 9px;
  padding: 0;
  width: 6px;
  height: 6px;
  border: 0;
  border-radius: 50%;
  background-color: fade(@color-dark, 30%);
  cursor: pointer;
}

.price__toggles-toggle--active {
  background-color: @color-light;
  border: 3px solid @color-dark;
}
