.review {
  width: 320px;
  min-height: 364px;
  position: relative;
  margin-top: -110px;
  z-index: 10;
}

.review__main-slider {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background-color: @color-light;
}

.review__description {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
}

.review__author {
  width: 158px;
  height: 13px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-style: normal;
}

.review__author-description {
  width: 280px;
  min-height: 160px;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
}
